<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crystal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,600" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
  </head>
  
  <body>  
    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-5 justify-content-center">
          <li class="nav-item active">
            <a type="button" class="btn btn-link rounded" onclick="onClickGotoSummary(this)">
              <i class="material-icons md-48">home</i>
              概况
            </a>
          </li>
          <li class="nav-item active">
            <a type="button" class="btn btn-link rounded" onclick="onClickGotoSend(this)">
              <i class="material-icons md-48">send</i>
              发送
            </a>
          </li>
          <li class="nav-item active">
            <a type="button" class="btn btn-link rounded" onclick="onClickGotoRecieve(this)">
              <i class="material-icons md-48">get_app</i>
              接收
            </a>
          </li>
          <li class="nav-item active">
            <a type="button" class="btn btn-link rounded" onclick="onClickGotoTranscation(this)">
              <i class="material-icons md-48">change_history</i>
              交易记录
            </a>
          </li>
        </ul>
      </div>
    </header>
    
    
    
    <div class="container-fluid wc-navbar-response-btn" id="wc-navbar-response-summary">
      <div class="row">
        <div class="col">
          <div class="card" id="wc-body-card-summary">
            <div class="card-body">
              <h3 class="card-title"><b>余额</b></h3>
              <p class="card-text">可使用余额：<b>{{blance.verified}} WC</b></p>
              <p class="card-text">等待中余额：<b>{{blance.verifying}} WC</b></p>
            </div>
            <div class="card-footer">
              <h3>总额： {{blance.total}} WC</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h3 class="card-title"><b>最近交易记录</b></h3>
            <div class="card-body">
              <table class="table table-striped table-dark">
                <tbody id="wc-body-card-history-summary">
                  <tr v-for="transaction in transactionRecent">
                    <td><i class="material-icons md-48">{{transaction.dir_icon}}</i></td>
                    <td>{{transaction.date}}<br/>{{transaction.message}}</td>
                    <td>{{transaction.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div class="container-fluid wc-navbar-response-btn d-none" id="wc-navbar-response-send">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">付给:</span>
            </div>
            <input type="text" class="form-control"></input>
            <div class="input-group-append">
              <button type="button" class="btn btn-primary ml-2" onclick="onClickSendLoadContacts(this)">
                <i class="material-icons">contacts</i>
              </button>
              <button type="button" class="btn btn-danger ml-2" onclick="onClickSendClean(this)">
                <i class="material-icons red">remove</i>
              </button>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">标签:</span>
            </div>
            <input type="text" class="form-control"></input>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">金额:</span>
            </div>
            <input type="text" class="form-control"></input>
            <div class="input-group-append">
              <select class="custom-select ml-3  mr-3">
                <option selected>WC</option>
                <option>mWC</option>
                <option>uWC</option>
              </select>
              <div class="input-group-text">
                <input type="checkbox"><b class="ml-3">从金额中减去交易费</b></input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="container-fluid wc-navbar-response-btn d-none" id="wc-navbar-response-recieve">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Balance</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody id="wc-body-recieve-address-list">
          <tr>
            <td>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">comment:</span>
                </div>
                <input type="text" class="form-control"></input>
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary" onclick="onClickCreateAddress(this)">+</button>
                </div>
              </div>
            </td>
          </tr>
          <tr v-for="address in allAddress">
            <td class="d-none">{{address.address}}</td>
            <td><button type="button" class="btn btn-sm btn-success" onclick="onClickGotoAddress(this)">{{address.address}}</button></td>
            <td><p class="text-primary"><b>0.0</b></p></td>
            <td><p class="text-secondary">{{address.comment}}</p></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./client.js"></script>
    <script >
      function onClickGotoSummary(elem) {
        console.log('onClickGotoSummary::elem=<',elem,'>');
        $('.wc-navbar-response-btn').addClass('d-none');
        $('#wc-navbar-response-summary').removeClass('d-none');
      }
      function onClickGotoSend(elem) {
        console.log('onClickGotoSend::elem=<',elem,'>');
        $('.wc-navbar-response-btn').addClass('d-none');
        $('#wc-navbar-response-send').removeClass('d-none');
      }
      function onClickGotoRecieve(elem) {
        console.log('onClickGotoRecieve::elem=<',elem,'>');
        $('.wc-navbar-response-btn').addClass('d-none');
        $('#wc-navbar-response-recieve').removeClass('d-none');
      }
      function onClickGotoTranscation(elem) {
        console.log('onClickGotoTranscation::elem=<',elem,'>');
        $('.wc-navbar-response-btn').addClass('d-none');
        $('#wc-navbar-response-transcation').removeClass('d-none');
      }
    </script>
  </body>
</html>
